body {
    box-sizing: border-box;
    margin: 0;
}

button {
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    margin-right: 4px;
    min-height: 40px;
    min-width: 120px;
    padding: 0;

    background-color: transparent;
    cursor: pointer;
    font-family: monospace;
    font-size: 20px;
}

button:hover {
    background-color: #eaeaea;
}

.buttons-container {
    margin-top: 20px;
    margin-left: 10px;
}

.active {
    border-color: #e9c505;
    border-width: 2px;
}
